.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

.tooltip{
position: absolute;
width: 120px;
height: auto;
font-family: simsun;
font-size: 14px;
text-align: center;
border-style: solid;
border-width: 1px;
background-color: white;
border-radius: 5px;
}

.node circle {
    cursor: pointer;
    fill: #fff;
    stroke: steelblue;
    stroke-width: 2px;
}

.node text {
    font-size: 12px;
  }

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }
