        <div id="footerwrapper">

                <div class="container_16">

                        <div class="grid_16" id="footer">
<span id="copyright">&copy; 2015  <b>何以勒作品 —— Python Django学习</b> 保留所有版权 </span>

                                <div>
                                        <ul class="services">
                                                <li>网页设计</li>
                                                <li>系统开发</li>
                                                <li>网站调优</li>
                                        </ul>
                                        <ul class="services">
                                                <li>系统安装</li>
                                                <li>数据库安装</li>
                                                <li>数据分析挖掘</li>
                                        </ul>
                                        <ul class="links" id="first">
                                                <li><a href="{% url 'index' %}">首页</a></li>
                                                <li><a href="about.html">关于我们</a></li>
                                                <li><a href="http://www.cssmoban.com/">友情链接</a></li>
                                        </ul>
                                </div>

                        </div>
                        <div class="clear"></div>

                </div>

        </div><!-- /#footerwrapper -->
